{% extends "base_with_navbar.jinja" %}

{% block title %}
<h1>Chat</h1>
{% endblock %}

{% block content %}
<section class="bg-body-primary">
    <div class="container py-5">

        <div class="row">

            <!-- Chats -->
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

                <h5 class="font-weight-bold mb-3 text-center text-lg-start">Chats</h5>

                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled mb-0">
                            {% for chat in chats %}
                            
                            <li class="p-2 {% if chat != chats[-1] %}border-bottom{% endif %} {% if chat.id == chat_id %}bg-body-secondary{% endif %}">
                                <a href="{{ url_for('chat_page', chat=chat.id) }}" class="d-flex justify-content-between text-decoration-none">
                                    <div class="d-flex flex-row">
                                        <img src="{{ url_for('static', filename=chat.avatar) }}"
                                            alt="avatar"
                                            class="rounded-circle d-flex align-self-center me-3 shadow-1-strong"
                                            width="60">
                                        <div class="pt-1">
                                            <p class="fw-bold mb-0">{{ chat.username }}</p>
                                            <p class="small text-muted">{{ chat.status }}</p>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="pt-1">
                                        <p class="small text-muted mb-1">Just now</p>
                                        <span class="badge bg-danger float-end">1</span>
                                    </div>
                                    -->
                                </a>
                            </li>
                            {% endfor %}


                        </ul>

                    </div>
                </div>

            </div>


            <!-- Messages -->
            <div class="col-md-6 col-lg-7 col-xl-8 vh-100">
                <ul class="p-4 list-unstyled overflow-y-auto h-50" id="scroll-container">
                {% for message in messages %}
                    {% if current_user.id == message.from_user %}
                    <li class="d-flex justify-content-end mb-4">
                        <div class="card w-80 {% if current_user.id == message.from_user %}text-bg-primary{% endif %}">
                    {% else %}
                    <li class="d-flex mb-4">
                        <div class="card w-80 text-bg-secondary">
                    {% endif %}
                    <!--
                            <div class="card-header d-flex justify-content-between p-3">
                                <p class="fw-bold mb-0">{{ message.from }}</p>
                                <p class="text-muted small mb-0"><i class="far fa-clock"></i> 12 mins ago</p>
                            </div>-->
                            <div class="card-body">
                                <p class="mb-0">
                                    {{ message.message }}
                                </p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
                <!-- automaticaly scroll to the bottom -->
                <script> var objDiv = document.getElementById("scroll-container"); objDiv.scrollTop = objDiv.scrollHeight; </script>

                <form method="POST" action="{{ url_for('chat_page', chat=chat_id) }}">
                    <div class="form-outline mb-3" data-mdb-input-init>
                        <textarea class="form-control" id="message-input" name="message-input" rows="4" placeholder="Message"></textarea>
                    </div>
                    <input type="submit" class="btn btn-info btn-rounded float-end" value="Send" name="send-message">
                </form>

            </div>

        </div>

    </div>
</section>
{% endblock %}