{% extends "base.jinja" %}

{% block content %}
<main class="form-register w-100 m-auto mt-5">
    <form method="POST" action="/register">
        {{ form.csrf_token }}
        <h1 class="h3 mb-3 fw-normal">Registrieren</h1>

        {{ form.name }}
        {{ form.password }}
        {{ form.password2 }}

        <button class="btn btn-primary w-100 py-2" type="submit">Registrieren</button>

    </form>
</main>
{% endblock %}